button {
    width: 40px;
    height: 20px;
    background: red;
    border: 1px solid grey;
    border-radius: 2px;
    color: #004422;
    cursor: pointer;
    margin-right: 20px;
}
#yes {
   background: green; 
   margin-left: 20px;
}
span {
    position: absolute;
    top: 26px;
    left: 103px;
}
.wrapper{
   width: 500px;
   height: 500px;
   position: relative;
}