@font-face {
    font-family: Calluna;
    src: url(../fonts/calluna.otf) format('open-type');
    font-weight: 400;
}
html {
	height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 14px/21px Garamond, serif;
	width: 100%;
	height: 100%;
    color: #1c1c1c;
    background: url(../img/tile.png);
    min-width: 840px;
}
@font-face {
  font-family: 'fontello';
  src: url(../fontello/font1/fontello.eot?53551297);
  src: url(../fontello/font1/fontello.eot?53551297#iefix) format('embedded-opentype'),
  url(../fontello/font1/fontello.woff?53551297) format('woff'),
  url(../fontello/font1/fontello.ttf?53551297) format('truetype'),
  url(../fontello/font1/fontello.svg?53551297#fontello) format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon {
	margin-left: 20px;
}


 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
	margin-left: 0px;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 
.icon-mail:before { content: '\e800'; } 
.icon-comment-inv-alt:before { content: '\e801'; }
.icon-right-dir:before { content: '\e802'; } 
.icon-pencil-alt:before { content: '\e803'; } 
h1, h2, h3 {
    font-family: Calluna, serif;
}
h4, h5 {
    font-family: Garamond, serif;
}
p {
    margin-bottom: 20px;
}
h1, .big-text {
    font-size: 45px;
    line-height: 39px;
    margin-bottom: 15px;
	  letter-spacing: 1px;
}
h2 {
    font-size: 28px;
    line-height: 21px;
    margin-bottom: 25px;
}
h2 span {
    color: #b42924;
}
h3, h4 {
    font-size: 21px;
    line-height: 22px;
    margin-bottom: 18px;
}
h4 {
    font-variant: small-caps;
}
h5 {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    border-bottom: 1px solid #ccc;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
.tb, .bt {
    width: 100%;
    height: 4px;
    border: none;
    margin: 15px 0 20px 0;
    box-sizing: content-box;
}
.tb {
    border-top: 6px solid #1c1c1c;
    border-bottom: 1px solid #1c1c1c;
}
.bt {
    border-top: 1px solid #1c1c1c;
    border-bottom: 6px solid #1c1c1c;
    margin-top: 0;
}
.grey_line {
    border: none;
    height: 1px;
    width: 100%;
    background: url(../img/dotted_line.png) repeat-x;
    margin: 20px 0;
}
/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 62px;
	background: #0e0e0e;
    color: #fff;
}
.logotip {
    display: block;
    width: 197px;
    height: 84px;
    background: url(../img/logo.jpg) no-repeat;
    text-indent: -9999px;
}
.hamburger {
	display: none;
    font-size: 20px;
    position: absolute;
    top: 25px;
    left: 50px;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.hamburger:before {
  content: "";
  position: absolute;
  background-image: url(../img/sprites/menu.png);
/*  background-repeat: no-repeat;*/
	left: 0px;
	margin-top: 6px;
	top: -17%;
	left: -35%;
	height: 16px;
	width: 16px;
}
.hamburger1 {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
		margin-left: 10px;
	position: absolute;
	top: 12%
}
.ham_input {
    display: none;
}
.ham_input:checked ~ nav .nav {
    display: block;
}
.ham_input1 {
    display: none;
}
.ham_input1:checked ~ .disign {
    display: block;
}
.nav {
    margin-top: 23px;
}
.nav li {
    float: left;
    margin-left: 30px;
}
.nav a {
    color: #fff;
    text-decoration: none;
    font-family: Georgia, serif;
    font-size: 18px;
    line-height: 24px;
}
.nav .active, .nav a:hover {
    border-bottom: 3px solid #fff;
		z-index: 1;
	
}
.nav a:hover {
		color: black;
}
.nav li:hover {
		background-color: white;
}
.head_bot_bg {
    height: 20px;
    width: 100%;
    background: url(../img/head_bot_bg.png) repeat-x 9px 0;
}
/* Middle
-----------------------------------------------------------------------------*/
.content {
	padding: 65px 0 10px;
}

.ico {
    position: relative;
    padding-left: 34px;
}
.ico::before {
    content: "\0020";
    display: block;
    width: 20px;
    height: 22px;
    position: absolute;
    left: 0;
    top: 0;
}
.ico1 {
    background: url(../img/ico_1.png) no-repeat;
}
.ico2 {
    background: url(../img/ico_2.png) no-repeat;
}
.ico3 {
    background: url(../img/ico_3.png) no-repeat;
}

.border {
    background: #fff;
    margin-bottom: 42px;
    transition: all .1s linear;
}
.border img {
/*    outline: 1px solid #ccc;*/
    width: 100%;
    display: block;
    filter: grayscale(0);
    -moz-filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0);
    
    box-sizing: border-box;
    border: 4px solid #fff;
    /*
    -moz-
    -webkit-
    -o-
    -ms-
    */
}
.border:hover {
    transform: scale(1.1);
}
.border:hover img {
		filter: grayscale(1);
    -moz-filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
    transition: -webkit-filter .1s linear;
    
}

.quote_w_line {
    outline: 1px solid #ccc;
    border-left: 6px solid #333;
    padding: 6px 20px 6px 24px;
    background: #fff;
    color: #444;
    margin: 0 0 20px 0;
}
.quote_w_line p {
    margin-bottom: 8px;
}
.quote_w_line p:last-child {
    margin-bottom: 0;
}
.quote_red {
    border-left-color: #814444;
}

.red_list li {
/*    border-bottom: 1px dotted #b42924;*/
    margin: 10px 0;
}
.red_list a {
    text-decoration: none;
    display: block;
    color: #b42924;
    position: relative;
    margin-left: 30px;
    background: url(../img/dotted_line.png) repeat-x left bottom;
    padding-bottom: 10px;
}
.red_list li::before {
    content: "4";
    display: block;
    font-family: Webdings;
    position: absolute;
    left: 0;
    color: #b42924;
}

/*.shadow {
    position: relative;
}
.shadow:before, .shadow:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.shadow:after
{
    right:10px;
    left:auto;
}
.shadow:hover::before, .shadow:hover::after {
    z-index:-1;
} */

/* Second_block */

.flexslider {
	margin: 0 0 40px !important;
}
.four-col p {
	margin-bottom: 26px;
}

/* Third_block */

.navigation_third_block li {
	float: left;
	margin-right: 27px;
}
.navigation_third_block ul {
  list-style: none;
  padding-left: 0px;
	margin-top: 10px;
}
.navigation_third_block a {
	color: black;
  text-decoration: none;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
  line-height: 36px;
}
.navigation_third_block .active {
	color: white;
	position: relative;
	background-repeat: no-repeat;
  background-position: center;
	display: inline-block;
	margin-bottom: 25px;
}
.border:-n+3 {
	margin-bottom: 25px;
}
.design, .print, .logo, .illustration {
	display: none;
}
.active1:checked ~ a .design {
	display: block;
}
/* Fourth_block */

.for_line {
	margin-bottom: 6px;
}
.big-letter::first-letter {
	font-size: 45px;
	float: left;
	margin: 12px 10px 7px 0;
}
.big-letter {
	margin-bottom: 27px;
}
.step25px {
	margin-bottom: 28px;
}
.links_fourth_block h2{
	margin-top: 20px;
	margin-bottom: 15px;
}
.links_fourth_block ul{
	list-style: none;
	padding-left: 20px;
	position: relative;
}
.links_fourth_block a {
	text-decoration: none;
	color: #b42924;
	margin-bottom: 21px;
	display: inline-block;
}
.links_fourth_block a:before {
  content: "";
  position: absolute;
  width: 7px;
  height: 10px;
  background-image: url(../img/sprites/znak.png);
  background-repeat: no-repeat;
	left: 0px;
	margin-top: 6px;
}
.links_fourth_block a:after {
  content: "";
  position: absolute;
  width: 230px;
  height: 2px;
  background-image: url(../img/sprites/red_line.png);
  background-repeat: no-repeat;
	left: 21px;
	margin-top: 30px;
}
.bottom_conteiner p{
	outline: 1px solid #ccc;
  border-left: 6px solid #333;
  padding: 6px 20px 6px 24px;   background: #fff;   
	color: #444;   
	margin: 0 0 20px 0;
}
.bottom_conteiner .second_bottom_conteiner {
	border-left: 6px solid #814444;   
}  
.bottom_conteiner .third_bottom_conteiner {
	border-left: 6px solid #808080;   
}
.bottom_conteiner .four_bottom_conteiner {
	border-left: 6px solid #c3b091;   
}
.fourth_block h2 {
	margin-bottom: 15px;
}
.fourth_block ol {
	padding-left: 13px;
	margin-bottom: 28px;
}
.fourth_block li {
	color: #767676;
}
.fourth_block ul {
	list-style: none;
	padding-left: 21px;
	color: #767676;
	margin-bottom: 23px;
}
.fourth_block ul li:before {
	content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-image: url(../img/sprites/znak2.png);
  background-repeat: no-repeat;
	left: -2px;
	margin-top: 6px;
}
.fourth_block p {
	margin-bottom: 21px;
}
.name_for_quotes h2 {
	margin-bottom: 10px;
}
.quotes {
	margin-bottom: 37px;
}
.four-col .icons-quote {
	position: relative;
	margin-bottom: 0;
	
}
.icons-quote:before {
	color: #bbb;
  content: "\201C";
	font-size: 40px;
	position: absolute;
	top: 8px;
	left: 0px;
} 
.rotate .paragraph {
	position: relative;
	margin-bottom: 0;
}
.rotate .paragraph .mb25 {
	margin-bottom: 25px;
}
.rotate:after {
	color: #bbb;
  content: "\201D";
	font-size: 40px;
	position: absolute;
	right: 1px;
} 
.paragraph {
	padding-left: 20px;
}
.textbox {
	background-color: #efefef;
	height: 40px;
	width: 100%;
	position: relative;
	display: inline-block;
}
.main_textbox {
	border: 1px solid #cccccc;
  position: relative;
	float: right;
	display: block;
	width: 260px;
}
.textbox h3 {
	margin: 0;
	padding-left: 15px;
	padding-top: 10px;
}
.textbox p {
	padding-left: 13px;
	padding-top: 24px;
}
.textbox p:last-child {
	padding-top: 10px;
}

/* six_block */

.conteiner_for_send_contact {
	width: 540px;
	height: 335px;
}
.for_contact {
	display: inline-block;
	margin-bottom: 14px;
}
.message {
	margin-bottom: -12px;
}
.for_contact input {
	width: 409px;
	float: right;
	border-radius: 3px;
	border: none;
	border: 1px solid #cccccc;
	background-color: #ffffff;
	height: 27px;
}
.for_contact p {
	width: 118px;
	float: left;
	margin-bottom: 40px;
	font-weight: bold;
}
textarea {
	border-radius: 3px;
	border: none;
	border: 1px solid #cccccc;
	background-color: #ffffff;
	height: 208px;
	width: 415px;
	float: right;	
	resize: none;
}
.conteiner_for_button {
	float: right;
}
.conteiner_for_button input {
	background-color: white;
	border-radius: 3px;
	border: 1px solid black;
	margin-left: 23px;
	margin-top: 30px;
	padding: 8px 13px;
	margin-bottom: 42px;
}
.for_contact p {
	font-size: 18px;
  line-height: 15px;
}
.h2_information h2 {
	margin-top: 15px;
}
.six_block p {
	margin-bottom: 29px;
}
.contact p {
	margin-bottom: 20px;
}
.contact_information p {
	margin-bottom: 0px;
}
.icon-comment-inv-alt {
	margin-top: 20px;
}
.icon-pencil-alt {
	margin-top: 20px;
}
input {
	padding: 0 5px;
}
.third {
	margin-right: 0px;
}
.border_without_shadow {
	width: 70px;
	height: 70px;
	float: left;
}
.border_without_shadow {
	width: 80px;
	height: 80px;
	outline: 1px solid #cccccc;
	margin-right: 6px;
	margin-bottom: 10px;
}
.border_without_shadow img {
	margin-left: 5px;
	margin-top: 5px;
}

.tabs_nav {
    float: left;
    margin: 0 0 20px 0;
    white-space: normal;
}
.tabs_nav li {
    float: left;
    margin-right: 20px;
}
.tabs_nav a {
    color: #1c1c1c;
    text-decoration: none;
    padding: 4px 10px;
    border: 1px solid transparent;
    position: relative;
}
.tabs_nav .active a, .tabs_nav a:hover {
    color: #fff;
    background: #1c1c1c;
    border-radius: 3px;
    border: 1px solid #1c1c1c;
    box-shadow: 0 0 0 1px #ccc inset;
}
.tabs_nav .active a::after {
    content: "\0020";
    display: block;
    width: 6px;
    height: 6px;
    position: absolute;
    background: #1c1c1c;
    left: 50%;
    bottom: -4px;
    margin-left: -3px;
    border-right: 1px solid #1c1c1c;
    border-bottom: 1px solid #1c1c1c;
    box-shadow: -1px -1px 0 #ccc inset;
    transform: rotate(45deg);
}
.tabs__content {
  display: none; /* по умолчанию прячем все блоки */
}
.tabs__content.active {
  display: block; /* по умолчанию показываем нужный блок */
}
/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: 0 0 0;
	height: 352px;
	background: #0e0e0e;
    color: #fff;
	position: relative;
	min-width: 100%;
}
.colortext {
	color: #b42924;
}
.colortext a {
	color: #b42924;
	text-decoration: none;
}
.social_btn {
  display: inline-block;
  vertical-align: top;
  width: 23px;
  height: 23px;
  font-size: 0px;
  text-decoration: none;
  background: url(../img/sprites/socialmedia.png) no-repeat center;
	margin-right: 14px;
}
.social_btn_fb {
    background-position: -11px -101px;
}
.social_btn_tw {
    background-position: -11px -191px;
}

.social_btn_dot {
  background-position: -11px -56px;
}
.social_btn_ins {
  background-position: -11px -146px;
}
.social_btn_bbb {
  background-position: -11px -11px;
}
.main_footer {
	padding-top: 40px;
	padding-bottom: 150px;
}
.footer .four-col {
	margin-left: 0;
}
.float-right {
	float: right;
	width: 252px;
	padding-top: 33px;
}
.footer .middle_footer {
	margin-left: 10px;
}
.footer .four-col h2 {
	margin-bottom: 13px;
}
.footer .left_footer p,
.footer .middle_footer p {
	margin-bottom: 1px;
}

@media all and (max-width: 599px) {
	.logotip {
        float: none;
        margin: 0 auto;
				display: none;
    }
	.middle_footer h2{
		margin-top: 20px;
	}
	.text_for_contact {
		display: none;
	}
	.for_contact {
		width: 599px;
	}
	.for_contact input,
	.for_contact textarea{
		width: 200px;
		float: left;
	}
	.main_body .border_without_shadow {
		margin-left: 10px;
	}
	.third .border_without_shadow  {
		margin-left: 10px;
	}
	.links_fourth_block {
		margin: 0 auto;
	}
	.conteiner_for_button {
		float: left;
	}
    .work {
        display: none;
    }
}
@media all and (max-width: 1200px) {
	.logotip {
        float: none;
        margin: 0 auto;
    }
	
}

@media all and (max-width: 1199px){
    body {
        min-width: 100%;
        width: 100%;
    }
    .layout {
        width: 100%;
    }
    [class$="-col"]{
        width: 98%;
        margin: 0 1%;
    }
    .nav {
        display: none;
        position: absolute;
        left: 4%;
        top: 30%;
        text-align: center;
        background-color: #1c1c1c;
        border: 1px solid gray;
        border-radius: 5px;
        z-index: 2;
        box-shadow: 0 0 20px rgba(0,0,0,0.8);		
    }
    .nav a {
        color: white;
    }
    .logotip {
        float: none;
        margin: 0 auto;
    }
	  .main_textbox {
		display: none;
	}
	  .nav li {
		float: none;
		margin-left: 0px;
		padding: 5px;
	}
	.nav .active {
		border-bottom: none;
	}
	.float-right {
		display: none;
	}
	.hamburger {
		display: block;
	}
    .social_btn {
        margin: 15px;
    }
    .work {
        display: none;
    }
}


