/* Основные стили */

@font-face {
	font-family: RobotoCondensed;
	src: url(fonts/RobotoCondensedRegular.ttf);
}

html,
body {
	margin: 0;
	font-family: RobotoCondensed;
	font-size: 16px;
	color: #EEEEEE;
	background: #1E1E1E;
}


/* Настройки */

.settings {
	z-index: 9999;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #151515;
	display: none;
}

.setting {
	height: 20px;
	margin: 10px;
	line-height: 20px;
}

.setting a {
	padding: 0 0 0 20px;
	background: url(img/setting.png) no-repeat center left;
	background-size: 15px 15px;
	color: #C4C4C4;
	text-decoration: none;
	transition: 0.5s;
}

.setting a:hover {
	color: #fff;
}

.form-wrapper {
	position: relative;
	top: 50%;
	left: 50%;
	margin: -240px 0 0 -250px;
	width: 400px;
	height: 300px;
	padding: 50px;
	border: 1px solid #282828;
	background: #1E1E1E;
}

/* Элементы формы */

.form-wrapper p {
	margin: 0 0 20px 0;
	font-size: 18px;
}

.form-wrapper label {
	padding: 0 10px 0 0;
	line-height: 25px;
}

.form-wrapper input[type = text] {
	margin: 0 0 10px 0;
	padding: 0 0 0 10px;
	width: 40px;
	height: 25px;
	border: 1px solid #282828;
	background: #151515;
	color: #EEEEEE;
	transition: 0.2s;
}

.form-wrapper input[type = text]:focus {
	outline: 1px solid #EBBA37;
}

.form-wrapper input[name = sizeX] {
	margin-right: 50px;
}

.form-wrapper input[type = checkbox] {
	margin: 0 0 40px 0;
}

.form-wrapper input[type = range] {
	width: 100%;
}

.form-wrapper input[type = button],
.form-wrapper input[type = reset] {
	position: absolute;
	bottom: 50px;
	width: 150px;
	height: 30px;
	border: none;
	color: #fff;
	cursor: pointer;
}

.form-wrapper input[type = button] {
	left: 90px;
	background: #569A37;
}

.form-wrapper input[type = reset] {
	right: 90px;
	background: #EB2F00;
}


/* Конец игры */

.finish {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 50px 0;
	text-align: center;
	background: #151515;
	display: none;
}

.finish p {
	margin: 0 0 20px 0;
}

.finish a {
	color: #569A37; /*#C4C4C4;*/
	text-decoration: none;
	transition: 0.5s;
}

.finish a:hover {
	color: #fff;
}


/* Игра */

.field {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	border-top: 1px solid #282828;
	border-left: 1px solid #282828;
	background: #151515;
}

.cell {
	float: left;
	width: 19px;
	height: 19px;
	border-bottom: 1px solid #282828;
	border-right: 1px solid #282828;
}

.food {
	background: #EB2F00;
}

.obstacle {
	background: #EBBA37;
}

.snake {
	background: #569A37;
}

.fail {
	background: black;
}
