
.icon-mail:before { content: '\e800'; } /* '' */
.icon-comment-inv-alt:before { content: '\e801'; } /* '' */
.icon-right-dir:before { content: '\e802'; } /* '' */
.icon-pencil-alt:before { content: '\e803'; } /* '' */
.icon-quote:before { content: '\e804'; } /* '' */