<!doctype html>
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}
      %title Animals
      %link{:href => "./style/reset.css", :rel => "stylesheet"}
      %link{:href => "./style/animation.css", :rel => "stylesheet"}
      %link{:href => "./style/style.css", :rel => "stylesheet"}
  %body
    .wrapper.robots 
      .head
        .eyes.left-eyes
          .pupil.left-pupil
        .eyes.right-eyes
          .pupil.right-pupil
        .nose
          .naris.left-naris
          .naris.right-naris
        .mouse
          .teeth.upper-teeth
          .teeth.upper-teeth
          .teeth.upper-teeth
          .teeth.upper-teeth
          .teeth.upper-teeth
          .teeth.upper-teeth
          .teeth.lower-teeth
          .teeth.lower-teeth
          .teeth.lower-teeth
          .teeth.lower-teeth
          .teeth.lower-teeth
          .teeth.lower-teeth
        .neck
          .necklace
      .body
        .circle
        .arm.left-arm
        .arm.right-arm
    .wrapper.panda
      .hat
        .part-hat.white-part-in-hat
        .part-hat.black-part-in-hat
        .white-line-in-hat
        .black-line-in-hat
          .circle-in-hat.left-circle
          .circle-in-hat.right-circle
      .head
        .ear
        .heart
        .eye.left-eyes
          .shine-eyes
          .pupil
        .eye.right-eyes
          .shine-eyes
          .pupil
        .face
          .nose
          .white-box
          .black-line
          .smile.left-smile
          .smile.right-smile
        .hand.left-hand
        .hand.right-hand
      .body
        .leg.left-leg
        .leg.right-leg
    .wrapper.cats
      .container
        #head
          .ears
          #leftEye.eye
            .popover
            .light
            .pupil
          #rightEye.eye
            .popover
            .light
            .pupil
          .mouse
            %h1 3
  .makets
    %p Makets(jpg)
    %img{:alt => "robot-maket", :src => "./img/robot.jpg"}
    %img{:alt => "panda-maket", :src => "./img/panda.jpg"}
    %img{:alt => "cat-maket", :src => "./img/cats.jpg"}